# Backend Configuration
SECRET_KEY=dev-secret-key-pathfinder
DEBUG=True

# Database Configuration
DATABASE_URL=sqlite:///sql_app.db

# Supabase API Credentials
SUPABASE_URL=https://ecrnjlorescgpvvurqin.supabase.co
SUPABASE_ANON_KEY=sb_publishable_oz6i5X1oSO8xkx37qiZyDQ_WHUtFYam
SUPABASE_JWT_SECRET=8d64a24e-5c6a-4769-9314-896544ffce0d
